bower_components/
node_modules/


bundle/bundle.out.js

.idea/
*.iml
my.env

*.env
static/bower_components/
.*.sw?
.DS_Store

.vagrant
/iisnode

# istanbul output
coverage/

npm-debug.log
bin/__pycache__

package-lock.json

*.pyc

bash-unit-test-temp


patient2/iob.json
patient2/suggested.json
patient2/meal.json

patient3/iob.json
patient3/suggested.json
patient3/meal.json
